<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/DataService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="Admin" serializeAs="String">
                <value>Preshen 
Ahmed
</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Morena 
Rachel 
Thabo
</value>
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>Test 1
Test 2
Test 3
Test 4
Test 5</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>